:root {
    --anti-flash: rgb(234, 234, 235);
    --anti-flash-100: rgb(46, 46, 48);
    --anti-flash-200: rgb(92, 92, 96);
    --anti-flash-300: rgb(138, 138, 143);
    --anti-flash-400: rgb(186, 186, 189);
    --anti-flash-500: rgb(234, 234, 235);
    --anti-flash-600: rgb(238, 238, 239);
    --anti-flash-700: rgb(243, 243, 243);
    --anti-flash-800: rgb(247, 247, 247);
    --anti-flash-900: rgb(251, 251, 251);
    --onyx: rgb(59, 61, 64);
    --onyx-100: rgb(12, 12, 13);
    --onyx-200: rgb(24, 24, 25);
    --onyx-300: rgb(35, 36, 38);
    --onyx-400: rgb(47, 49, 51);
    --onyx-500: rgb(59, 61, 64);
    --onyx-600: rgb(96, 99, 104);
    --onyx-700: rgb(134, 138, 143);
    --onyx-800: rgb(174, 177, 181);
    --onyx-900: rgb(215, 216, 218);
    --margin: 20px;
    --primary-darker: #7b182c;
    --primary-dark: #b82341;
    --primary: var(--folly);
    --primary-light: #f86381;
    --primary-lighter: #fa97ab;
    --primary-rgb: 245, 47, 87;
    --toastify-text-color-light: var(--onyx) !important;
    --toastify-text-color-dark: var(--anti-flash) !important;
    --toastify-color-light: var(--anti-flash) !important;
    --toastify-color-dark: var(--onyx-400) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .hidden {
        display: none;
    }
}
@layer components {
    .picker {
        --picker-color: var(--primary);
        @apply transition rounded max-sm:w-[64px] max-md:w-[42px] w-[32px] h-[32px] border-4 cursor-pointer border-[--picker-color] checked:bg-[--picker-color];
        appearance: none;
    }
    .picker-rainbow {
        -webkit-animation: rainbow 5s ease infinite;
        -z-animation: rainbow 5s ease infinite;
        -o-animation: rainbow 5s ease infinite;
        animation: rainbow 5s ease infinite;
        --picker-color: var(--primary);
        @apply transition rounded max-sm:w-[64px] max-md:w-[42px] w-[32px] h-[32px] checked:p-0 checked:border-4 border-[--primary-light] p-[4px] cursor-pointer;
        background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        background-size: 1800% 1800%;
        appearance: none;
    }
    .theme-picker {
        --picker-color: var(--primary);
        @apply transition rounded max-sm:w-[64px] max-md:w-[42px] w-[32px] h-[32px] cursor-pointer border-4 border-[--picker-color] ring-[--picker-color] checked:ring-2 checked:ring-[--primary-dark] checked:border-[--primary-dark] dark:checked:ring-[--primary-light] dark:checked:border-[--primary-light];
        appearance: none;
    }
    .button {
        @apply transition focus:outline-none select-none px-[1.5rem] py-[.475rem] font-medium rounded box-border hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)] focus:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.4)] disabled:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.4)];
    }
    .normal-hover {
        @apply hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)] focus:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.4)] disabled:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.8)];
    }
    .big-button {
        @apply button px-[3.5rem] py-[1rem] text-xl;
    }
    .light-hover {
        @apply hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.1)] focus:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.1)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)] disabled:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.4)];
    }
    .lighter-hover {
        @apply hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.05)] focus:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.05)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.1)] disabled:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)];
    }
    .sidebar {
        @apply flex-col gap-y-4 [&_*]:w-full [&_*]:text-center;
    }
    .sidenav {
        @apply w-0 gap-y-8 shrink py-8 px-0 flex-col justify-start transition-[width,padding] overflow-hidden;
    }
    .selected-nav {
        @apply !bg-[--primary] dark:!bg-[--primary-light] hover:!shadow-none !text-anti-flash dark:!text-onyx;
    }
    .nav-link {
        @apply light-hover lg:px-5 dark:normal-hover rounded-xl button text-onyx dark:text-anti-flash max-lg:p-3 max-lg:aspect-square max-lg:flex max-lg:items-center;
    }
    .sidenav-show-sibling {
        @apply !gap-0;
    }
    .sidenav-show {
        @apply max-lg:!w-[90px] !min-w-fit max-lg:!px-3 !border-4;
    }
    .games-radio-1,
    .games-radio-2,
    .games-radio-3 {
        --color: var(--primary);
        @apply sm:border-2 max-sm:ring-2 ring-[--color] w-1/4 max-sm:w-full min-w-fit text-center border-[--color] hover:brightness-75 dark:hover:brightness-100 select-none brightness-90 dark:brightness-125 bg-transparent text-[--color] transition px-[1.25rem] py-[.475rem] cursor-pointer sm:rounded-sm rounded-b-none font-semibold;
    }
    .games-radio-1 {
        @apply sm:border-b-0;
    }
    .games-radio-2 {
        @apply sm:border-t-0;
    }
    .games-radio-3 {
        @apply rounded-none -mx-[1px] hover:z-[110] border-2 ring-0 first-of-type:rounded-l-md last-of-type:rounded-r-md;
    }
    .games-radio-checked {
        @apply bg-[--color] text-anti-flash hover:brightness-90 brightness-100 max-sm:z-[100];
    }
    .menu-parent {
        @apply flex max-sm:flex-wrap max-sm:last:mt-4 max-sm:[&>*]:my-[1px] sm:-my-[1px] sm:gap-x-2 md:gap-x-6 grow justify-center;
    }
    .countdown {
        --duration: 3s;
        background-size: 400% 100%;
        @apply animate-[countdown-to-2_var(--duration)_infinite] md:animate-[countdown-to_var(--duration)_infinite] ease-linear transition-[background-position] duration-[--duration] md:bg-[linear-gradient(45deg,transparent_35%,rgba(var(--primary-rgb),0.5)_35%,rgba(var(--primary-rgb),0.5)_45%,transparent_45%,transparent_55%,rgba(var(--primary-rgb),0.5)_55%,rgba(var(--primary-rgb),0.5)_65%,transparent_65%)];
    }
    #score-and-time {
        background-size: 200% 100%;
        background-position: var(--bg-pos) 100%;
        @apply transition-all bg-[linear-gradient(90deg,var(--anti-flash)_50%,var(--primary-lighter)_50%,var(--primary-lighter)_100%)] dark:bg-[linear-gradient(90deg,var(--primary)_50%,var(--primary-darker)_50%,var(--primary-darker)_100%)];
        --bg-pos: 0%;
    }
}
@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@keyframes countdown-to-2 {
    10% {
        background: rgba(var(--primary-rgb), 0);
    }
    50% {
        background: rgba(var(--primary-rgb), 0.2);
    }
}
@keyframes countdown-to {
    0% {
        background-position: -20% 0%;
    }
    100% {
        background-position: 120% 100%;
    }
}
* {
    font-family: inherit;
}
.app-icon {
    -webkit-mask-image: url(/favicon.png);
    mask-image: url(/favicon.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.sidenav-show-sibling {
    @apply !gap-0;
}
.sidenav-show {
    @apply max-lg:!w-[90px] max-lg:!px-3 !border-4;
}
input[type="radio"],
a {
    @apply focus-visible:outline-none focus-visible:ring-4 focus-visible:!ring-onyx focus-visible:dark:!ring-anti-flash;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
